@import '../variables/colors.scss';

@mixin button {
  border: 0;
  font-weight: 700;
  display: inline-flex;
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.primary {
  @include button;
  background-color: $primary;
  color: white;
}

.secondary {
  @include button;
  background-color: $secondary;
  color: white;
}