@import '../variables/breakpoints.scss';
@import '../mixins/flex.scss';

.container {
  max-width: 1245px;
  width: 100%;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.25rem;
  margin-left: -1.25rem;
}

.col {
  flex: 0 0 auto;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 1.25rem;
  padding-left: 1.25rem;

  @media screen and (min-width: $medium) {
    width: 50%;
  }
}