@import '../variables/colors.scss';
@import '../mixins/flex.scss';

.list {
  list-style: none;
}

.item {
  @include flex(start, center);
  color: #4D5254;
  text-align: left;

  & + & {
    margin-top: 1.25rem;
  }
}


.icon {
  color: $primary;
  margin-right: .875rem;
}