@import '../variables/colors.scss';
@import '../variables/breakpoints.scss';
@import '../mixins/flex.scss';

.list {
  list-style: none;
  font-size: .75rem;
  @media screen and (min-width: $medium) {
    font-size: 1rem;
  }
}

.item {
  @include flex(start, center);
  color: #4D5254;
  text-align: left;

  & + & {
    margin-top: .75rem;
  }
}

.icon {
  color: $primary;
  margin-right: .875rem;
}