@import '../variables/colors.scss';
@import '../variables/breakpoints.scss';
@import '../mixins/flex.scss';

.wrap {
  background-color: $light;
  border-radius: .625rem;
  padding: 2.19rem 0;
  @media screen and (min-width: $medium) {
    padding: 2.19rem;
  }
}

.title {
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  @media screen and (min-width: $medium) {
    font-size: 2rem;
    text-align: left;
  }
}

.titleAlternativeUpper {
  text-transform: uppercase;
  color: $primary;
}

.titleAlternative {
  color: $primary;
}

.noAccept {
  text-align: center;
  margin-top: 1rem;
}

.image {
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  display: none;
  @media screen and (min-width: $medium) {
    display: block;
  }
}

.satisfaction {
  @include flex(flex-start, center);
  margin-top: 1.88rem;
  font-size: .75rem;
  @media screen and (min-width: $medium) {
    font-size: 1rem;
  }
}

.satisfactionText {
  color: $text;
  margin-left: 1rem;
}

.saving {
  @include flex(flex-start, center);
  background-color: $primaryLight;
  border-radius: .625rem;
  padding: .625rem .875rem;
  color: #000;
  margin: 1.5rem 0;
  font-size: .875rem;
  strong {
    font-weight: 500;
    color: $primary;
  }

  @media screen and (min-width: $medium) {
    font-size: 1rem;
  }
}

.savingText {
  max-width: calc(100% - 42px);
  margin-left: .625rem;
}

.savingIcon {
  @include flex(center, center);
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $primary;
  color: #FFF;
  font-size: 1.19rem;
}

.list {
  margin-top: 1.5rem;
}