@import '../variables/colors.scss';
@import '../variables/breakpoints.scss';

.wrap {
  background-color: $light;
  position: relative;
  height: auto;
  padding: 2.5rem;
  @media screen and (min-width: $medium) {
    background-color: #FFF;
  }
}

.head {
  text-align: center;
  max-width: 320px;
  margin: 0 auto;
  @media screen and (min-width: $medium) {
    max-width: 100%;
  }
}

.title {
  font-size: 2rem;
  color: #000;
  font-weight: 500;
  @media screen and (min-width: $medium) {
    background-color: #FFF;
    font-size: 3rem;
  }
}

.description {
  color: $text;
  @media screen and (min-width: $medium) {
    background-color: #FFF;
    font-size: 1.5rem;
  }
}